<h2 class="text-center">Products</h2>

<div class="container">
  <div class="row">
    {% for p in products %}
    <div class="col-md-3">
      <div class="card mb-4">
        <img src="{{ p.image.url }}" class="card-img-top">
        <div class="card-body text-center">
          <h5>{{ p.name }}</h5>
          <p>₹ {{ p.price }}</p>

         <a href="{% url 'place_order' p.id %}" class="btn btn-success">
    Order Now
</a>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
